.wrapper {
    height: 98vh;
    width: 99vw;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.wrapper > * {
    gap: 10px;
    flex: 1 75%;
}

.sidebar {
    flex: 1 0 20px;
    background-color: red;
}

.user-list {
    background-color: aqua;
    display: inline;
}
.main-control{
    display: flex;
    flex-direction: column;
}

.main-control > * {
    border-radius: 12px;
    gap: 10px;
    flex: 100%;
}

.user-control{
    display: flex;
}

.user-control > * {
    border-radius: 12px;
    flex: 1 50%;
}

.user-control-1 {
    background-color: greenyellow;
}

.user-control-2 {
    background-color: green;
}

.inner-list {
    padding-left: 35%;
    padding-top: 10%;
}

button {
    background-color: beige;
    border: 2px solid beige;
    border-radius: 12px;
}

input {
    border: 2px solid beige;
    border-radius: 12px;
}

.user-group{
    background-color: beige;
    border-radius: 12px;
    text-align: center;
}