.table-item {
    gap: 10px;
}

.btn-edit {
    border: 2px blue solid;
    background-color: blue;
    color: white;
    border-radius: 24px;
    margin-right: 10px;
}

.btn-delete {
    border: 2px red solid;
    border-radius: 24px;
    background-color: red;
    color: white;
}